<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping List</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Welcome {{user.first_name}}</h1>
            <button onclick="location.href='/log_out'">Log Out</button>
            <button onclick="location.href='/fridge'">Back to Fridge</button>
        </header>

        <div id="shopping_list_container">
            <div class="col">
                <h3>Add Items</h3>
                <form action="/shopping_list/add_to_list" method="POST">
                    {% csrf_token %}
                    <input type="text" name="ingredient" id="ingredient" placeholder="Ingredient Name">
                    <input type="number" name="quantity" id="quantity" placeholder=0 value=0>
                    <select name="unit" id="unit">
                        <option value="of them">of them</option>
                        <option value="bottles">bottle(s)</option>
                        <option value="boxes">box(es)</option>
                        <option value="cans">can(s)</option>
                        <option value="grams">gram(s)</option>
                        <option value="kilos">kilo(s)</option>
                        <option value="pounds">lbs</option>
                        <option value="ounces">oz</option>
                        <option value="liters">litre(s)</option>
                        <option value="milliliters">milliliter(s)</option>
                        <option value="pints">pint(s)</option>
                        <option value="%">%</option>
                    </select>
                    <button>Add</button>
                </form>
                {% if messages %}
                    <div>    
                        {% for message in messages %}
                            {% if 'add' in message.extra_tags%}
                                <p>{{ message }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="col">
                <h2>Shopping List</h2>
                <div id="shopping_list">
                    <table>
                        <thead>
                            <th>Name</th>
                            <th>Quantity</th>
                        </thead>
                        <tbody>
                        {% for i in shopping_list %}
                            <td>{{i.name}}</td>
                            <td>{{i.quantity}} {{i.unit}}</td>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">
                <h3>Remove Items</h3>
                <form action="/shopping_list/remove_from_list" method="POST">
                    {% csrf_token %}
                    <input type="text" name="ingredient" id="ingredient" placeholder="Ingredient Name">
                    <input type="number" name="quantity" id="quantity" placeholder=0 value=0>
                    <select name="unit" id="unit">
                        <option value="of them">of them</option>
                        <option value="bottles">bottle(s)</option>
                        <option value="boxes">box(es)</option>
                        <option value="cans">can(s)</option>
                        <option value="grams">gram(s)</option>
                        <option value="kilos">kilo(s)</option>
                        <option value="pounds">lbs</option>
                        <option value="ounces">oz</option>
                        <option value="liters">litre(s)</option>
                        <option value="milliliters">milliliter(s)</option>
                        <option value="pints">pint(s)</option>
                        <option value="%">%</option>
                    </select>
                    <button>Remove</button>
                </form>
                {% if messages %}
                    <div>    
                        {% for message in messages %}
                            {% if 'remove' in message.extra_tags%}
                                <p>{{ message }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

</body>
</html>