<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping List</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Welcome {{user.fname}}</h1>
            <button>Log Out</button>
        </header>

        <div id="shopping_list_container">
            <div class="col">
                <h3>Add Items</h3>
                <form action="/add_to_list">
                    <input type="text" name="ingredient" id="ingredient" placeholder="Ingredient Name">
                    <input type="number" name="quantity" id="quantity" placeholder=0>
                    <select name="unit" id="unit">
                        <option value="oz">oz</option>
                        <option value="gram">gram</option>
                        <option value="lb">lb</option>
                        <option value="kg">kg</option>
                        <option value="liter">L</option>
                        <option value="gallon">G</option>
                    </select>
                    <button>Add</button>
                </form>
            </div>
            <div class="col">
                <h2>Shopping List</h2>
                <div id="shopping_list">
                    <table>
                        <thead>
                            <th>Name</th>
                            <th>Quantity</th>
                        </thead>
                        <tbody>
                        {% for i in shopping_list %}
                            <td>{{i.name}}</td>
                            <td>{{i.quantity}} {{i.unit}}</td>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">
                <h3>Remove Items</h3>
                <form action="/remove_from_list">
                    <input type="text" name="ingredient" id="ingredient" placeholder="Ingredient Name">
                    <input type="number" name="quantity" id="quantity" placeholder=0>
                    <select name="unit" id="unit">
                        <option value="oz">oz</option>
                        <option value="gram">gram</option>
                        <option value="lb">lb</option>
                        <option value="kg">kg</option>
                        <option value="liter">L</option>
                        <option value="gallon">G</option>
                    </select>
                    <button>Remove</button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>