<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Plan</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <style>
        * {
            font-family: 'Rubik', sans-serif;
        }

        body {
            background-image: url('https://cdn.hipwallpaper.com/i/14/86/JyYN9l.jpeg');
            background-repeat: no-repeat;
            background-size: cover;
        }

        .list-group-item.active {
            z-index:2;
            color:#ffffff;
            background-color:#657d8f;
            border-color:#657d8f;
        }
    </style>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,700&display=swap" rel="stylesheet">

     
</head>
<body>
    <div class="container">
        <nav class="navbar bg-info text-light">
            <h1><em>FridgeBuddy</em></h1>
            <button onclick="location.href='/log_out'" type="button" class="btn btn-outline-light shadow btn-md pt-1 pb-1 px-2">LOG OFF</button>
        </nav>
        <div class="container rounded-bottom pb-3" style="background-color: rgba(245, 245, 245, 0.7)">
            <div class="row text-center">
                <div class="col">
                    <div class="list-group list-group-horizontal mt-2">
                        <a href="/fridge/inventory" class="list-group-item list-group-item-action border-secondary">Fridge</a>
                        <a href="/shopping_list" class="list-group-item list-group-item-action border-secondary">Shopping List</a>
                        <a href="/meal_plan" class="list-group-item list-group-item-action border-secondary active disabled">MEAL PLAN</a>
                        <!-- <a href="/fridge/leave" class="list-group-item list-group-item-action border-secondary">Leave Fridge</a> -->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h2 class="mx-2 my-2 text-center">{{fridge.name|upper}} SHOPPING LIST</h2>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col"></div>
                    <div class="col text-center border mt-2 mr-2 rounded-lg pt-2 px-4" style="background-color: rgba(245, 245, 245, 0.7)">
                        <h3>ADD MEAL</h3>
                        {% if messages %}
                            <div class="container mb-2">    
                                {% for message in messages %}
                                    {% if 'add_meal' in message.extra_tags%}
                                        <li class="text-danger">{{ message }}</li>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        <form class="form text-center" action="/meal_plan/add_meal" method="POST">
                            {% csrf_token %}
                            <input class="form-control mb-1" type="date" name="dish_date" placeholder="DATE">
                            <input class="form-control mb-1" type="text" name="dish_name" placeholder="Dish Name">
                            <select class="form-control mb-1" name="dish_time">
                                <option value="">Meal Time</option>
                                <option value="breakfast">Breakfast</option>
                                <option value="lunch">Lunch</option>
                                <option value="dinner">Dinner</option>
                            </select>
                            <button class="btn btn-info my-2" type="submit">ADD MEAL</button>
                        </form>
                    </div>
                    <div class="col"></div>
                </div>

                <div class="row">
                    <div class="col text-center border mt-2 rounded-lg pt-2 px-4" style="background-color: rgba(245, 245, 245, 0.7)">
                        <table class="table">
                            <thead class="thead-light">
                                <th>DATE</th>
                                <th>MEAL TIME</th>
                                <th>DISH</th>
                                <th>COMPLETED?</th>
                            </thead>

                            {% for meal in meals %}
                            <tr>
                                <td>{{meal.date|date:'l, j F Y'}}</td>
                                <td>{{meal.meal_time}}</td>
                                <td>{{meal.name}}</td>
                                <td><a href="/meal_plan/remove_meal/{{meal.id}}">PREPARED!</a></td>

                            </tr>
                            {% endfor %}

                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

    
    
</body>
</html>