<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Plan</title>
</head>
<body>
    <div class="container">
        <nav class="navbar bg-primary text-light">
            <h1>FridgeBuddy</h1>
            <button onclick="location.href='/log_out'" type="button" class="btn btn-light shadow btn-sm">LOG OUT</button>
        </nav>
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <div class="list-group list-group-horizontal">
                        <a href="/fridge/inventory" class="list-group-item list-group-item-action">Fridge</a>
                        <a href="/shopping_list" class="list-group-item list-group-item-action">Shopping List</a>
                        <a href="/fridge/leave" class="list-group-item list-group-item-action">Leave Fridge</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="add-meal-form">
            <h3>ADD MEAL</h3>
            {% if messages %}
                <div>    
                    {% for message in messages %}
                        {% if 'add_meal' in message.extra_tags%}
                            <p>{{ message }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            <form action="/meal_plan/add_meal" method="POST">
                {% csrf_token %}
                <input type="date" name="dish_date" placeholder="DATE"><br>
                <input type="text" name="dish_name" placeholder="Dish Name"><br>
                <select name="dish_time" placeholder="Meal Time">
                    <option value="" disabled selected>Meal Time</option>
                    <option value="Breakfast">Breakfast</option>
                    <option value="Lunch">Lunch</option>
                    <option value="Dinner">Dinner</option>
                </select><br>
                <button type="submit">ADD MEAL</button>
            </form>
        </div>

        <div class="meal-plan-table">
            <table>
                <tr>
                    <th>DATE</th>
                    <th>MEAL TIME</th>
                    <th>DISH</th>
                    <th>COMPLETED?</th>
                </tr>
                {% for meal in meals %}
                    <tr>
                        <td>{{ meal.date|date:'Y-m-d' }}</td>
                        <td>{{ meal.meal_time }}</td>
                        <td>{{ meal.name }}</td>
                        <td><a href="/meal_plan/remove_meal/{{meal.id}}">REMOVE</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    
    
</body>
</html>