<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{fridge.name}} Inventory</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        * {
            font-family: 'Rubik', sans-serif;
        }

        body {
            background-image: url('https://cdn.hipwallpaper.com/i/14/86/JyYN9l.jpeg');
            background-repeat: no-repeat;
            background-size: cover;
        }

        .list-group-item.active {
            z-index:2;
            color:#ffffff;
            background-color:#6d7981;
        }
        
    </style>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">

        <nav class="navbar bg-info text-light rounded-bottom">
            <h1><strong><em>FridgeBuddy</em></strong></h1>
            <button onclick="location.href='/log_out'" type="button" class="btn btn-outline-light shadow btn-md pt-1 pb-1 px-2">LOG OFF</button>
        </nav>

        <div class="container rounded-bottom pb-3" style="background-color: rgba(245, 245, 245, 0.7)">
            <div class="row text-center">
                <div class="col">
                    <div class="list-group list-group-horizontal mt-2">
                        <a href="/fridge/inventory" class="list-group-item list-group-item-action border-secondary active disabled">FRIDGE</a>
                        <a href="/shopping_list" class="list-group-item list-group-item-action border-secondary">Shopping List</a>
                        <a href="/meal_plan" class="list-group-item list-group-item-action border-secondary">Meal Plan</a>
                        <!-- <a href="/fridge/leave" class="list-group-item list-group-item-action border-secondary">Leave Fridge</a> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h2 class="mx-2 my-2 text-center"> {{fridge.name|upper}} INVENTORY</h2>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <div class="container border rounded py-2" style="background-color: rgba(245, 245, 245, 0.7)">
                        <h5>ADD ITEM</h5>
                        <form action="/fridge/inventory/add_item" method="POST">
                            {% csrf_token %}
                            <input type="text" name="item_name" placeholder="Item Name" class="form-control mx-1 my-1">
                            <div class="form-row px-1">
                            <input type="number" min="0" step="0.01" name="quantity" placeholder="0" class="form-control col mx-1 my-1">
                                <select name="unit" class="form-control col mx-1 my-1">
                                    <option value="count">count</option>
                                    <option value="bottles">bottle(s)</option>
                                    <option value="boxes">box(es)</option>
                                    <option value="cans">can(s)</option>
                                    <option value="grams">gram(s)</option>
                                    <option value="kilos">kilo(s)</option>
                                    <option value="pounds">lbs</option>
                                    <option value="ounces">oz</option>
                                    <option value="liters">litre(s)</option>
                                    <option value="milliliters">milliliter(s)</option>
                                    <option value="pints">pint(s)</option>
                                    <option value="%">%</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-success shadow mx-1 my-1">ADD ITEM</button>
                        </form>
                        {% if messages %}
                            <ul class="mt-2 mb-1">
                                {% for message in messages %}   
                                    {% if 'add' in message.extra_tags %}
                                        <li class="text-danger">{{ message }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="col text-center border rounded" style="background-color: rgba(245, 245, 245, 0.7)">
                    <h4 class="mx-2 my-2">FRIDGE</h4>
                    <table class="table text-center table-bordered">
                        <thead class="thead-info">
                            <tr>
                                <th class="py-1">ITEM NAME</th>
                                <th class="py-1">QUANTITY</th>
                                <th class="py-1">MORE</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in inventory %}
                            <tr>
                                <td class="py-1">{{item.name}}</td>
                                <td class="py-1">{{item.quantity|floatformat:"-2"}} {{item.unit}}</td>
                                <td class="py-1">
                                    <button type="button" class="btn btn-primary btn-sm py-0" data-toggle="modal" data-target="#addModal" data-name="{{item.name}}" data-unit="{{item.unit}}">Buy</button>
                                </td>
                            </tr>
                        {% endfor%}
                        </tbody>
                    </table>
                </div>
                <div class="col text-center">
                    <div class="container border py-2 rounded" style="background-color: rgba(245, 245, 245, 0.7)">
                        <h5>REMOVE ITEM</h5>
                        <form action="/fridge/inventory/remove_item" method="POST">
                            {% csrf_token %}
                            <select name="item_name" id="item_name" class="form-control" {% if not inventory %}disabled{% endif %}>
                                {% for i in inventory %}
                                    <option value="{{i.name}}">{{i.name}}</option>
                                {% endfor %}
                            </select>
                            <!-- <input type="text" name="item_name" placeholder="Item Name" class="form-control mx-1 my-1"> -->
                            <div class="form-row px-1">
                                <input type="number" min="0" step="0.01" name="quantity" placeholder="0" class="form-control col mx-1 my-1" {% if not inventory %}disabled{% endif %}>
                                <select name="unit" class="form-control col mx-1 my-1" {% if not inventory %}disabled{% endif %}>
                                    <option value="count">count</option>
                                    <option value="bottles">bottle(s)</option>
                                    <option value="boxes">box(es)</option>
                                    <option value="cans">can(s)</option>
                                    <option value="grams">gram(s)</option>
                                    <option value="kilos">kilo(s)</option>
                                    <option value="pounds">lbs</option>
                                    <option value="ounces">oz</option>
                                    <option value="liters">litre(s)</option>
                                    <option value="milliliters">milliliter(s)</option>
                                    <option value="pints">pint(s)</option>
                                    <option value="%">%</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-danger shadow mx-1 my-1" {% if not inventory %}disabled{% endif %}>REMOVE ITEM</button>
                        </form>
                        {% if messages %}
                            <ul class="mt-2 mb-1">
                                {% for message in messages %} 
                                    {% if 'remove' in message.extra_tags %}
                                        <li class="text-danger">{{ message }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-center">
                <button onclick="location.href='/fridge/leave'" class="btn btn-outline-danger shadow mt-2">LEAVE FRIDGE</button>
            </div>  

            <!-- <div class="row">
                <div class="col">
                    <h4>Members:</h4>
                    <ul>
                    {% for member in members %}
                        <li>{{member.first_name}} {{member.last_name}}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div> -->
        </div>
    </div>
<!-- Modal tester -->
    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Add to Shopping List</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/fridge/inventory/add_to_shopping" id="add_form" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="item_name">
                        <label for="quantity" class="col-form-label">How much?</label>
                        <input type="number" min="0" step=".01" class="form-control mb-2" name="quantity">
                        <select name="unit" class="form-control col">
                            <option value="count">count</option>
                            <option value="bottles">bottle(s)</option>
                            <option value="boxes">box(es)</option>
                            <option value="cans">can(s)</option>
                            <option value="grams">gram(s)</option>
                            <option value="kilos">kilo(s)</option>
                            <option value="pounds">lbs</option>
                            <option value="ounces">oz</option>
                            <option value="liters">litre(s)</option>
                            <option value="milliliters">milliliter(s)</option>
                            <option value="pints">pint(s)</option>
                            <option value="%">%</option>
                        </select>

                        
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" form="add_form" class="btn btn-primary">Add to Shopping List</button>
                </div>
            </div>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script>
    $('#addModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var name = button.data('name')
        var unit = button.data('unit')
        var modal = $(this)
        modal.find('.modal-title').text('Add ' + name + ' to Shopping List')
        modal.find('.modal-body select').val(unit)
        modal.find('.modal-body input[name="item_name"]').val(name)
        })
</script>
</body>
</html>