<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{fridge.name}} Inventory</title>
</head>
<body>
    <div class="header">
        <h1 class="logo">FRIDGEBUDDY</h1>
        <p class="welcome">WELCOME BACK {{online_user.first_name}}!</p>
        <a href="/log-out">LOG OUT</a>
    </div>
    <div class="content">
        <div class="add-item">
            <h3>ADD ITEM TO INVENTORY</h3>
            <form action="/fridge/inventory/add_item" method="POST">
                {% csrf_token %}
                <label>Item Name</label><br>
                <input type="text" name="item_name" placeholder="Item Name"><br>
                <label>How Much</label><br>
                <input type="number" min="0" step="0.01" name="quantity" placeholder="0">
                <select name="unit">
                    <option value="of them">of them</option>
                    <option value="bottles">bottle(s)</option>
                    <option value="boxes">box(es)</option>
                    <option value="cans">can(s)</option>
                    <option value="grams">gram(s)</option>
                    <option value="kilos">kilo(s)</option>
                    <option value="pounds">lbs</option>
                    <option value="ounces">oz</option>
                    <option value="liters">litre(s)</option>
                    <option value="milliliters">milliliter(s)</option>
                    <option value="pints">pint(s)</option>
                    <option value="%">%</option>
                </select><br>
                <button type="submit">ADD ITEM!</button>
            </form>
        </div>
        <div class="inventory">
            <table>
                <tr>
                    <th>ITEM NAME</th>
                    <th>QUANTITY</th>
                    <th>ACTION</th>
                </tr>
                {% for item in inventory %}
                    <tr>
                        <td>{{item.name}}</td>
                        <td>{{item.quantity}} {{item.unit}}</td>
                        <td><a href="/fridge/inventory/delete_item/{{item.id}}">REMOVE</a></td>
                    </tr>
                {% endfor%}
            </table>
        </div>
        <p><a href="/fridge/">GO BACK</a></p>
    </div>
    
</body>
</html>