<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create or Join a Fridge</title>
</head>
<body>
    <div class="header">
        <h1 class="logo">FRIDGEBUDDY</h1>
        <p class="welcome">WELCOME BACK {{online_user.first_name}}!</p>
        <a href="/log-out">LOG OUT</a>
    </div>
    <div class="container">
        <p>Would you like to</p>
        <a class="create" href="/fridge/new">CREATE</a><br>
        <p>OR</p>
        <a class="join" href="/fridge/join_fridge">JOIN</a><br>
        <p>a fridge?</p>
    </div>
    <div class="nav-links">
        <!-- Create different colours for each button -->
        <a class="shopping-list" href="">Shopping List</a>
        <a class="meal-plan" href="">Meal Plan</a>
        <a class="recipes" href="">Recipes</a>
    </div>
</body>
</html>